<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="./global.css">

  <link rel="stylesheet" href="./carrinho.css">

  <title>Carrinho</title>
  
</head>
<body>

  <header class="header">
  </header>

  <main>
    <h1 class="titulo">Carrinho</h1>

    <section class="carrinho">
      <div class="produto">
        <img src="https://via.placeholder.com/120x160" alt="Produto">
        <div class="descricao">
          <h3>Descrição do produto</h3>
          <p>Adicione estilo e significado ao seu look com o colar “Search for Art in Everything”. Feito em aço inoxidável com um design moderno e acabamento refinado.</p>
        </div>
      </div>

      <div class="resumo">
        <h3>Resumo da compra</h3>
        <p><strong>Preço:</strong></p>
        <p class="preco">R$ 100,00</p>
    </div>
    </section>

    

    <div class="botoes">
      <button class="comprar">Comprar</button>
      <button class="excluir">Excluir</button>
    </div>

    <h2 class="titulo">Compre Também</h2>

    <section class="compre-tambem">
      <div class="item">
        <img src="https://via.placeholder.com/100x100" alt="Produto 1">
        <p>Título</p>
        <button>Veja Mais</button>
      </div>
      <div class="item">
        <img src="https://via.placeholder.com/100x100" alt="Produto 2">
        <p>Título</p>
        <button>Veja Mais</button>
      </div>
      <div class="item">
        <img src="https://via.placeholder.com/100x100" alt="Produto 3">
        <p>Título</p>
        <button>Veja Mais</button>
      </div>
      <div class="item">
        <img src="https://via.placeholder.com/100x100" alt="Produto 4">
        <p>Título</p>
        <button>Veja Mais</button>
      </div>
    </section>
  </main>

  <footer class="footer">
  </footer>

</body>
</html>
