<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/pag-cadastro/pag-cadastro.css">
  
</head>
<body>
    <section>
         <h1>Página de Cadastro</h>
            <div class="c-entrar">
            <label for="">Já possui conta?</label><a href="/pag-login/pag-login.html">Entrar</a>
        </div>
    
        <form action="/post/cadastrarUsuario" method="post">
            <div class="c-info-cadastro">

            <label for="">Nome Completo:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo">

            <label for="email">e-mail:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail">

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" placeholder="(00)00000-0000">

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" placeholder="Digite seu endereço">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha">

            </div>
                
            <div class="c-btns">
                    <button class="c-btns__cadastrar" type="submit">Cadastrar</button>
                    <!-- <a href="/"><button class="c-btns__cancelar">Cancelar</button></a> -->
            </div>

        </form>

        
    </section>

   
    
</body>
</html>