<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="/static/styles/global.css">
    <link rel="stylesheet" href="/static/styles/pag-login.css">

</head>
<body>
    <section>
         <h1>Página de Login</h1>
         <form action="/verificaLogin" method="post" class="login-form">
            <div class="c-info-login">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
        
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>
        
            <div class="c-btns">
                <button type="submit" class="c-btns__logar">Logar</button>
                <a href="/" class="c-btns__sair">Sair</a>
            </div>
        </form>
        
    </section>

   
    
</body>
</html>