<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/pag-login/pag-login.css">
  
</head>
<body>
    <section>
         <h1>Página de Login</h1>

        <!-- <div class="c-entrar">
            <label for="">Não possui uma conta?</label><a href="/pag-cadastro/pag-cadastro.html">Cadastrar</a>
        </div> -->
    
    <div class="c-info-login">

       

         <label for="email">e-mail:</label>
        <input type="email" id="email" name="email" placeholder="Digite seu e-mail">


        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">


    </div>

  
        
    <div class="c-btns">
            <button class="c-btns__logar">Login</button>
            <button class="c-btns__sair">Sair</button>
    </div>
    </section>

   
    
</body>
</html>