/* Estilo para o container principal da página de produto */
.container-main{
  font-family: Kavoon;
  color: var(--cor-preto);
  padding: 20px;
}

/* Estiliza a imagem principal do carrossel */
.carousel-inner img{
  border-radius: 10px;
  object-fit: contain;
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  
}

.fa-cart-shopping,
.fa-arrow-right-to-bracket, .fa-user{
  color: var(--cor-branco);
  font-size: larger;
  width: 30px;
}

/* Botões do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: var(--cor-sombra);
  border-radius: 50%;
}

/* Descrição do produto */
.container-main .border.bg-light{
  box-shadow: 0 0 10px var(--cor-sombra);
}

/* Botão adicionar ao carrinho */
.btn-dark{
  background-color: var(--cor-preto);
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-dark:hover{
  background-color: var(--cor-sombra);
}

/* Comentários */

.comentarios h4{
  margin-bottom: 1rem;
  font-family: Kavoon;
}

.comentarios textarea{
  resize: none;
  width: 850px;
}

.border{
  background-color: var(--cor-branco);
  box-shadow: 0 0 6px var(--cor-sombra);

  margin-top: 15px;
  width: 750px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: var(--cor-marrom);
  color: var(--cor-branco);
  padding: 20px 10px;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-family: Inter;
  margin-top: 70px;
}

.footer__address{
  grid-column: 1 / 3;
  grid-row: 1;
}

.footer__contact{
  grid-column: 3 / 5;
  grid-row: 1;
}

.footer__social{
  grid-column: 1 / 3;
  grid-row: 2;
}

.footer__cnpj{
  grid-column: 3 / 5;
  grid-row: 2;
}

.footer__logo{
  grid-column: 5 / 8;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img{
  max-height: 100px;
}

/* Responsividade */
@media (max-width: 768px){
  .carousel-inner img{
    max-height: 300px;
  }

  .btn-dark{
    font-size: 1rem;
  }

  
  /* Rodapé */
  .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
  }

  .footer__address{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .footer__contact{
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .footer__social{
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__cnpj{
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__logo{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 469px){
  .carousel-inner img{
    max-height: 300px;
  }

  .btn-dark{
    font-size: 1rem;
  }

  .border{
    width: 418px;
    margin-bottom: 10px;
  }

  .comentarios textarea{
  resize: none;
  width: 418px;
}

  
  /* Rodapé */
  .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
  }

  .footer__address{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .footer__contact{
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .footer__social{
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__cnpj{
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__logo{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}