/* header */
header{
  background-color: var(--cor-botao-validar);
  font-family: Kavoon;
}

.navbar-nav .nav-link{
  color: var(--cor-branco);
}

.logo-nav{
    max-width: 100px;
}

.fa-cart-shopping,
.fa-arrow-right-to-bracket, .fa-user{
  color: var(--cor-branco);
  font-size: larger;
  width: 30px;
}

.navbar .navbar-expand-lg .bg-body-tertiary{
  max-width: 500px;
  display:flex;
  justify-content: space-between;
}

.menu-central{
  display: flex;
  justify-content: center;
  gap: 30px;
  /* flex: 1 faz o elemento crescer e ocupar todo o espaço disponível dentro de um contêiner flexível. */
  flex: 1;
}

.fa-cart-shopping{
  color: var(--cor-branco);
  width: 30px;
  font-size: larger;
}

.fa-arrow-right-to-bracket{
  color: var(--cor-branco);
  width: 30px;
  font-size: larger;
}

.perfil-link{
  margin-left: auto;
}

body{
  background-color: var(--cor-fundo-pag) !important;
  padding: 5px;
}

/* ------ Estilização dos produtos ------ */
.container-title{
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: Kavoon;
  margin-left: 80px;
}

.container-produtos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}


.container-produtos__card{
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-border);
  border-radius: 10px;
  width: 280px;
  text-align: center;
  box-shadow: 0 2px 5px var(--cor-sombra);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-produtos__card img{
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-produtos__titulo{
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 0;
  font-family: Kavoon;
}

.container-produtos__preco{
  font-size: 0.95rem;
  margin: 10px;
  font-family: Kavoon;
}

/* botões */
button{
  margin: 10px;
  padding: 8px 12px;
  background-color: var(--cor-border);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a > button{
  background-color: var(--cor-marrom);
  color: var(--cor-branco);
  width: 265px;
  height: 40px;
  font-family: Inter;
}

a.btn.btn-primary{
  background-color: var(--cor-marrom);
  border: 1px solid var(--cor-marrom);
}

a.btn.btn-primary:hover{
  background-color: var(--cor-botao-validar);
}

a > button:hover{
  background-color: var(--cor-botao-validar);
}

/* FOOTER */
.footer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: var(--cor-marrom);
  color: var(--cor-branco);
  padding: 20px 10px;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-family: Inter;
}

.footer__address{
  grid-column: 1 / 3;
  grid-row: 1;
}

.footer__contact{
  grid-column: 3 / 5;
  grid-row: 1;
}

.footer__social{
  grid-column: 1 / 3;
  grid-row: 2;
}

.footer__cnpj{
  grid-column: 3 / 5;
  grid-row: 2;
}

.footer__logo{
  grid-column: 5 / 8;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img{
  max-height: 100px;
}

@media (max-width: 769px){
  body{
  background-color: var(--cor-fundo-pag) !important;
  padding: 5px;
  }

  .container-produtos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    justify-items: center;
  }

  .container-produtos__card{
    /* background-color: var(--cor-branco);
    border: 1px solid var(--cor-border);
    border-radius: 10px; */
    width: 200px;
    /* text-align: center;
    box-shadow: 0 2px 5px var(--cor-sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }

   a > button {
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    width: 100%;
    height: 40px;
    font-family: Inter;
}

  .container-produtos__card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .container-produtos__titulo{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
  }

  .container-produtos__preco{
    font-size: 0.95rem;
    margin: 10px;
  }

  /* Rodapé */
  .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
  }

  .footer__address{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .footer__contact{
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .footer__social{
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__cnpj{
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__logo{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__logo img{
    max-height: 50px;
  }
}

@media (max-width: 468px){
  body{
  background-color: var(--cor-fundo-pag) !important;
  padding: 5px;
  }

  .container-produtos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    justify-items: center;
  }

  .container-produtos__card{
    /* background-color: var(--cor-branco);
    border: 1px solid var(--cor-border);
    border-radius: 10px; */
    width: 150px;
    /* text-align: center;
    box-shadow: 0 2px 5px var(--cor-sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }

   a > button {
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    width: 100%;
    height: 40px;
    font-family: Inter;
}

  .container-produtos__card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .container-produtos__titulo{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
  }

  .container-produtos__preco{
    font-size: 0.95rem;
    margin: 10px;
  }

  /* Rodapé */
  .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
  }

  .footer__address{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .footer__contact{
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .footer__social{
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__cnpj{
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__logo{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__logo img{
    max-height: 50px;
  }
}
