/* Estilização geral */
body{
  background-color: var(--cor-fundo-pag) !important;
  padding: 5px;
}

/* Header */
header{
  background-color: var(--cor-botao-validar);
  font-family: Kavoon;
}

.logo-nav{
  max-width: 100px;
  height: 40px;
}

.fa-cart-shopping,
.fa-arrow-right-to-bracket, .fa-user{
  color: var(--cor-branco);
  font-size: larger;
  width: 30px;
}

.navbar-nav .nav-link{
  color: var(--cor-branco);
}

.menu-central{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex: 1;
}

.saudacao{
  margin-right: 20px;
}

.fa-cart-shopping,
.fa-arrow-right-to-bracket, .fa-user{
  color: var(--cor-branco);
  font-size: larger;
  width: 30px;
}

.perfil-link{
  margin-left: auto;
}


/* Título da página */
.titulo-pagina{
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
}

/* Container principal do carrinho */
.container-carrinho{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 1000px;
}

/* Produto no carrinho */
.container-carrinho__produto{
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-border);
  border-radius: 8px;
  display: flex;
  padding: 1rem;
  flex: 2;
  min-width: 300px;
}

.container-carrinho__produto img{
  width: 120px;
  height: auto;
  margin-right: 1rem;
  border-radius: 4px;
}

.container-carrinho__descricao h3{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.container-carrinho__descricao p{
  font-size: 0.95rem;
}

/* Resumo do carrinho */
.container-carrinho__resumo{
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-border);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  flex: 1;
  min-width: 200px;
  height: fit-content;
}

.container-carrinho__resumo h4{
  margin-bottom: 1rem;
}

.container-carrinho__resumo .preco{
  font-size: 1.8rem;
  font-weight: bold;
}

/* Botões */
.container-carrinho__botoes{
  background-color: var(--cor-marrom); /* marrom */
  color: var(--cor-branco);
  width: 240px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;

  gap: 10px;
}

.btn{
  width: 100px;
  height: 50px;
}


/* Título da página */
.titulo-pagina{
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
}

/* Container principal do carrinho */
.container-carrinho{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 1000px;

}

/* Produto no carrinho */
.produto-carrinho{
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-border);
  border-radius: 8px;
  display: flex;
  padding: 1rem;
  flex: 2;
  min-width: 500px;
}

.produto-carrinho img{
  width: 120px;
  height: auto;
  margin-right: 1rem;
  border-radius: 4px;
}

.container-produto{
  display: flex;
  flex-direction: column;
}

.container-nome{
  width: 120px;
  height: auto;
  border: 3px solid var(--cor-preto);
  margin-top: 5px;
  text-align: center;
}

.descricao h3{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.descricao p{
  font-size: 0.95rem;
}

/* Resumo do carrinho */
.resumo-carrinho{
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-border);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  flex: 1;
  min-width: 200px;
  height: fit-content;
}

.resumo-carrinho h4{
  margin-bottom: 1rem;
}

.resumo-carrinho .preco{
  font-size: 1.8rem;
  font-weight: bold;
}

/* Botões */
.botoes{
  display: flex;
  gap: 1rem;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-marrom{
  background-color: var(--cor-botao-validar);
}

.btn-marrom:hover{
  background-color: var(--cor-hover-validar);
}

a > .btn-marrom:hover{
  background-color: var(--cor-hover-validar);
  text-decoration: none;
  color: var(--cor-branco);
}

.btn-danger{
  background-color: var(--cor-botao-cancelar);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger:hover{
  background-color: var(--cor-hover-cancelar);
}

.btn-marrom{
  background-color: var(--cor-botao-validar);
  color: var(--cor-branco);
}

.btn-marrom:hover{
  background-color: var(--cor-botao-validar);
}

/* Carrossel */
.container-carrossel{
  max-width: 99.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;

  margin-top: 50px;
}

.container-carrossel img {
  max-width: 580px;
  max-height: 480px;
}

.container-carrossel__produtos{
  display: flex;
  max-width: 500px;
  flex-direction: column;
}

.produtos-destaque{
  font-family: 'Kavoon', cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-primary{
  margin: 10px;
  padding: 2px;
  background-color: var(--cor-marrom);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  width: 250px;
  margin: 20px auto;

  display: flex;
  justify-content:center ;
}

.btn-primary button{
  width: 100%;
  height: 100%;
  background-color: var(--cor-marrom);
  border: none;
  color: var(--cor-branco);
}

.btn-primary:hover{
  background-color: var(--cor-preto);
}

/* Rodapé */
.footer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: var(--cor-marrom);
  color: var(--cor-branco);
  padding: 20px 10px;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-family: Inter;
  margin-top: 210px;
}

.footer__address{
  grid-column: 1 / 3;
  grid-row: 1;
}

.footer__contact{
  grid-column: 3 / 5;
  grid-row: 1;
}

.footer__social{
  grid-column: 1 / 3;
  grid-row: 2;
}

.footer__cnpj{
  grid-column: 3 / 5;
  grid-row: 2;
}

.footer__logo{
  grid-column: 5 / 8;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img{
  max-height: 100px;
}


/* Responsividade */
@media (max-width: 769px){
  body{
  background-color: var(--cor-fundo-pag) !important;
  padding: 5px;
  }

  /* Container principal do carrinho */
  .container-carrinho{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 100%;
  }

  /* Produto no carrinho */
  .produto-carrinho{
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-border);
    border-radius: 8px;
    display: flex;
    padding: 1rem;
    flex: 2;
    min-width: 80%;
  }

  .produto-carrinho img{
    width: 80px;
    height: auto;
    margin-right: 1rem;
    border-radius: 4px;
  }

  /* Resumo do carrinho */
  .container-carrinho__resumo{
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-border);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    flex: 1;
    min-width: 90px;
    height: auto;
  }

  /* Rodapé */
  .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
  }

  .footer__address{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .footer__contact{
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .footer__social{
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__cnpj{
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__logo{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__logo img{
    max-height: 50px;
  }
}
  
@media (max-width: 468px){
  body{
  background-color: var(--cor-fundo-pag) !important;
  padding: 5px;
  }

  /* Rodapé */
  .footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
  }

  .footer__address{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .footer__contact{
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .footer__social{
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer__cnpj{
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .footer__logo{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__logo img{
    max-height: 50px;
  }
}


@media (max-width: 400px){
  .container-carrinho__resumo{
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-border);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    flex: 1;
    min-width: 90px;
    height: auto;
  }

}