/* header */
header{
  background-color: var(--cor-botao-validar);
  font-family: Kavoon;
}

.navbar-nav .nav-link {
  color: var(--cor-branco);
}

.logo-nav{
    max-width: 100px;
}

.navbar .navbar-expand-lg .bg-body-tertiary{
  max-width: 500px;
  display:flex;
  justify-content: space-between;
}

.menu-central {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* flex: 1 faz o elemento crescer e ocupar todo o espaço disponível dentro de um contêiner flexível. */
  flex: 1;
}

.fa-cart-shopping{
  color: var(--cor-branco);
  width: 30px;
  font-size: larger;
}

.fa-arrow-right-to-bracket{
  color: var(--cor-branco);
  width: 30px;
  font-size: larger;
}

.perfil-link {
  margin-left: auto;
}

body {
  background-color: var(--cor-fundo-pag) !important;
}

/* ------ Estilização dos produtos ------ */

.container-title{
  width: 98vw;
  display: flex;
  justify-content: center;
}


.container-produtos{
  width: 98vw;
  height: 650px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 20px;

  
  
  
}

.moletons__card__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-produtos__moletons{
  width: 270px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 20px;
  
  background-color: rgb(79, 130, 175);

  padding: 15px;

  border-radius: 10px;
}



.camisetas__card__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-produtos__camisetas{
  width: 270px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 20px;
  
  background-color: rgb(79, 130, 175);

  padding: 15px;

  border-radius: 10px;
}



.calcas__card__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-produtos__calcas{
  width: 270px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 20px;
  
  background-color: rgb(79, 130, 175);

  padding: 15px;

  border-radius: 10px;
}





.calcados__card__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-produtos__calcados{
  width: 270px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 20px;
  
  background-color: rgb(79, 130, 175);

  padding: 15px;

  border-radius: 10px;
}