@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --cor-marrom: #8C5630;
    --cor-fundo-pag: #FEFCED;
    --cor-botao-validar: #9E6130;
    --cor-botao-cancelar: #FF0000;
    --cor-hover-cancelar: #CF0E0E;
    --cor-hover-validar: #9a4406;
    --cor-branco: #FFFFFF;
    --cor-preto: #080808;
    --cor-border: #c9c9c9;
    --cor-sombra: rgba(1, 0, 0, 0.7)
}