@import url('global.css');



 
/* Atualização geral */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo-pag);
    margin: 0;
    padding: 0;
}




.cadastro-topo a {
  color: var(--cor-branco);
  background-color: var(--cor-botao-validar);
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-fundo-pag);
}

/* Título */
h1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

/* Container principal */
.info-cadastro {
    width: 400px;
    padding: 0 30px;
}

.cadastro-form{
  background-color: var(--cor-branco);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;
  
}


/* Estilo dos campos */
.info-cadastro label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.info-cadastro input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid var(--cor-border);
    border-radius: 5px;
}

/* Botões */
.c-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.c-btns__logar {
    background-color: var(--cor-marrom); /* marrom */
    color: var(--cor-branco);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.c-btns__sair {
    background-color: var(--cor-botao-cancelar);
    color: var(--cor-branco);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}



@media (max-width: 768px) {

  
  .cadastro-form {
    width: 90%;
  }

  .info-cadastro{
    width: 100%;
  }

  
  .c-btns {
    flex-direction: column; 
    gap: 15px; 
  }


  .c-btns__logar,
  .c-btns__sair {
    width: 100%;
  }

}


@media (max-width: 468px) {

  
  .cadastro-form {
    width: 90%;
  }

  .info-cadastro{
    width: 100%;
  }

  
  .c-btns {
    flex-direction: column; 
    gap: 15px; 
  }

 
  .c-btns__logar,
  .c-btns__sair {
    width: 100%;
  }

}