@import url('../styles/global.css');

/* Atualização geral */
body{
    font-family: Inter;
    background-color: var(--cor-fundo-pag);
    margin: 0;
    padding: 0;
    font-family: Inter;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-fundo-pag);
}

/* Título */
h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

/* Container principal */
.login-form__container{
    width: 400px;
    padding: 0 30px;
}

.login-form{
  background-color: var(--cor-branco);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px var(--cor-sombra);
  width: 500px;
  margin: 0 auto;
}

/* Estilo dos campos */
.login-form__container label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.login-form__container input{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid var(--cor-border);
    border-radius: 5px;
}

/* Botões */
.login-form__buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.login-form__btn-logar{
    background-color: var(--cor-marrom); /* marrom */
    color: var(--cor-branco);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: Inter;
}

.login-form__btn-sair{
    background-color: var(--cor-botao-cancelar);
    color: var(--cor-branco);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    text-align: center;
}

@media (max-width: 469px){
    .login-form{
        width: 90%;
        align-items: center;
    }

    .login-form__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -30px;
    }

}