@import url('static/styles/global.css');
/* Atualização geral */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo-pag);
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-fundo-pag);
}

/* Título */
h1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

/* Container principal */
.c-info-login {
    width: 400px;
    padding: 0 30px;
}

.login-form{
  background-color: var(--cor-branco);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;
  
}


/* Estilo dos campos */
.c-info-login label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.c-info-login input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid var(--cor-border);
    border-radius: 5px;
}

/* Botões */
.c-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.c-btns__logar {
    background-color: var(--cor-marrom); /* marrom */
    color: var(--cor-branco);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.c-btns__sair {
    background-color: var(--cor-botao-cancelar);
    color: var(--cor-branco);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}


@media (max-width: 468px) {

  /* O formulário agora ocupa 90% da largura da tela, evitando quebras. */
  .login-form {
    width: 90%;
  }

  .c-info-login{
    width: 100%;
  }

  /* Para melhorar a usabilidade, os botões são empilhados verticalmente. */
  .c-btns {
    flex-direction: column; /* Coloca os botões um embaixo do outro */
    gap: 15px; /* Cria um espaço entre eles */
  }

  /* Faz com que os botões ocupem toda a largura disponível no container. */
  .c-btns__logar,
  .c-btns__sair {
    width: 100%;
  }

}